@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
} 
@media (max-width: 565px) {
  .section-heading {
    font-size: 40px !important;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;

}

/*  drop down text*/

#drop-down {

top: -400px;
animation: drop 1s ease forwards;

}

@keyframes drop{

  0%{ opacity:0}
  100%{ transform: translateY(50px); opacity: 1;}

}

#fade-in{

    animation: fade 1.5s ease-in forwards;
}

@keyframes fade{

    0%{opacity: 0;}
    100%{ opacity: 1;}

}

/* navbar     */

.burger{
    z-index: 2;
    right:20px;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 85%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #8a8484;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }





  .bg-text {
    position: absolute;
    margin-bottom: -1em;
    top: -80px;
    left: 10px;
    right: 0;
    bottom: 0;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
  }
  @media (min-width: 992px) {
    .bg-text {
      font-size: 6em;
    }
  }
  @media (max-width: 991.98px) {
    .bg-text {
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    .bg-text {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .bg-text {
      position: relative;
    }
  }

  .wrap .about-desc .bold-text {
    position: absolute;
    top: -80px;
    left: 10px;
    right: 0;
    bottom: 0;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
  }
  @media (min-width: 992px) {
    .wrap .about-desc .bold-text {
      font-size: 6em;
    }
  }
  @media (max-width: 991px) {
    .wrap .about-desc .bold-text {
      display: none;
    }
  }




 


/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
   
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ddd;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }






p {
  text-align: justify;
  text-justify: inter-word;
}

.container {
  overflow: auto;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.tech-icon{
    height:20px;
  }


.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 20px;
 
}

.interests .icon-box:hover {
  background: rgba(122, 122, 122, 0.12);
}


@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500; }
    .blog-entry .text .heading a {
      color: #8a8484;
       }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #2f89fc; }

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px; }
  .blog-entry .meta > div a {
    font-size: 15px;
    color: #8c8c8c; }

















/* CSS used here will be applied after bootstrap.css */

.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

/*
Small devices (landscape phones, 34em and up ( 544px ))
*/
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    
}




 footer {
	width: 100%;
	height: 100%;
    background-color: var(--main-header-background);
}
￼
.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}
￼
.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}
￼
.copyright a:hover{
	color: var(--main-decor-color);
}





 

 .card {

  background-color: #ccc  ;
  color: black ;

 }



 /* dark theme */

.dark-mode {
    /* background-color: #161625 !important;
    color: #e1e1ff !important; */

    background-color: #18191a;
    color: rgb(171, 165, 156);


  }


/* PROJECTS */

#title {
  font-size: 1.5rem;
  font-weight: 300;
}

.icon {
  font-size: 0.9rem;
  display: inline-flex;
  background: #D8D8D8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.icon span {
  border-radius: 5px;
  padding: 3px 5px;
}

.react {
  background: #BAD5F5;
}

.react-native {
  background: #BAD5F5;
}
.react span::after {
  content: "React.js";
}

.firebase {
  background: #F2C986;
}

.express {
  background: #F2C986;
}
.express span::after {
  content: "Express";
}

.node {
  background: #E1C1C1;
}
.node span::after {
  content: "Node.js";
}

.python {
  background: #EADD86;
}
.python span::after {
  content: "Python";
}


.django {
  background: #AFEAE5;
}
.django span::after {
  content: "Django";
}

.card a {
  padding-right: 15px;
}

.github {
  color: #739150;
}

.status {
  color: #7699C2;
}

.flask {

  background: #b6f3b9;
}

.twilio {

  background: rgb(246, 173, 173);
}


.cropped1 {
  width: 200px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  object-position: 20% 25%;
  border: 5px solid #ecece2;
}

.cropped2 {
  width: 200px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  object-position: 5% 100%;
  border: 5px solid #eee;
}

.blog-crop {
  width: 300px; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
  object-position: 5% 10%;
  border: 5px;
}

.orange {
  background: rgb(233, 182, 87);
}




:root{
	--main-background: #0b0c0f;
	--main-decor-color:#00a9e2;
    --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
}

/*──────────────────
    social media
──────────────────*/

.social-media{
	padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

